/*_____   ______*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*_____   ______*/
:root{
    /*typography*/

    /*color*/
    --ragitoto-color:#353F28;
    --mongose-color:#B8A489;
    --sage-color:#8CA67A;
    --mantle-color:#929B94;
    --white-color:#EDF0EE;
    --black-color:#06040A;
    --kelly-color:#2C7721;
    --forest-color:#016236;
    --cool-color:#606462;
    /*transition*/
    --transition-01: all .45s ease;
    --transtion-02:all .50s ease

}

/*_____ reset  ______*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*_____ body  ______*/
body{
    width: 100%;
    height: 100vh;
    background: url(../images/background-image.jpg);
    background-size: cover;
    background-position: center;
}
/*_____  header ______*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 15%;
    background: transparent;
}
.navbrand{
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 700;
    width: max-content;
    border-radius: 70px 20px 40px;
}
.navbrand i{
    vertical-align: middle;
    color: var(--kelly-color);
    margin-right: 6px;
    font-size: 40px;
}
.navbar{
    display: flex;
}
.navbar .nav-link{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--white-color);
    border-radius: 5px;
    text-transform: capitalize;
    transition: var(--transition-01);
}
.navbar .nav-link:hover{
    background-color: var(--forest-color);
}
#menu-icon{
    font-size: 40px;
    color: var(--white-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--white-color);
    font-size: 18px;
    font-size: 600;
}
.header-btn .sign-in{
    background-color: var(--kelly-color);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: var(--transtion-02) ;
}
.header-btn .sign-in:hover{
 
    background-color: var(--ragitoto-color) ;
}
/*_____   ______*/

/*_____   ______*/

/*_____  media queries  ______*/
@media (max-width: 1530px){
    .header{
        padding: 18px 3%;
        transition: .2s;
    }
}

@media (max-width: 1070px){
    .header{
        padding: 12px 3%;
        transition: .2s;
    }
    #menu-icon{
        display: block;
    }
    .sign-up{
        display: none;
    }
    .navbar{
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--ragitoto-color);
        transition: var(--transtion-02);
        text-align: left;
    }
    .navbar .nav-link{
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }
    .navbar.open{
        top: 100%; /*ficar quando clicr no botão*/
    }
}